/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kiwi+Maru&family=WDXL+Lubrifont+JP+N&display=swap');
.wdxl-lubrifont-jp-n-regular {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}
.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*global*/
html {
    scroll-behavior: smooth;
}
body {
    
    margin: 0;
    padding:0;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(199, 199, 199);
}
.fade {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 2s;
}
.fade.show {
    opacity: 1;
    transform: translateY(0);
}
.link {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: .3s;
  text-decoration: none;
  color: #30b392;
}
.link:hover {
    color: rgb(25, 153, 110);
}
h2 {
    border-bottom: 1px solid #000;
    margin-right: 25vw;
    font-size: 1.8rem;
}
p {
    font-size: 1.2rem;
}
img {
    width: 10vw;
}
/*header*/
header {
    background-color: #a7a7a7;
    border-bottom:3px solid #000;
    margin-bottom: 20px;
}
.auieo {
    height: 2rem;
    width: max-content;
    margin: auto;
    margin-bottom: 30px;
    font-size: 3.4rem;
    padding-bottom: 36px;
    border-bottom: 4px dashed #000;
}
.header_ul{
    position: relative;
    list-style-type: none;
    width: max-content;
    left: calc(100vw - 60vw);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.menu_li a {
    color: #ffffff;
    -webkit-text-stroke: 0.5px #000;
    font-size: 1.4rem;
    font-family: "Dela Gothic One", sans-serif;
}
.menu_li {
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    padding-right: 5px;
}
/*footer*/
footer {
    margin-top: 20px;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
    width: 100%;
    height: max-content;
    background-color: rgb(116, 116, 116);
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}
.youtube_link {
    color: red;
    text-decoration: none;
    -webkit-text-stroke: 1px #000;
   font-size: 2.5rem;

}
#footer-left {
    width: 20vw;
    padding-right: 10px;
    border-right: 3px solid #000 ;
    padding-bottom: 10px;
    text-align: center;
}
#footer-right {
    padding-left: 20px;
    font-size: 1.1rem;
}

.mail-address {
    color: rgb(0, 91, 209);
    text-decoration: none;
    -webkit-text-stroke: 0.2px #000000;
    font-size: 1.3rem;
}
.footer-auieo {
    font-size: 2.5rem;
}
/*Gotop*/
.gotop {
    position: sticky;
    width: 150px;
    height: 150px;
    background-color: rgb(63, 116, 133, 0.5);
    border-radius: 60px;
    left: 95vw;
    border: 3px solid #000;
    transition: .3s;
}
.gotop p {
    position: absolute;
    width: max-content;
    left: 10%;
    top: 20%;
    font-size: 1.7rem;
    -webkit-text-stroke: 0.1px #FFF;
    color: #000;
}
.gotop:hover {
    background-color: rgba(90, 164, 189, 0.5);
    border-radius: 100px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.35);
}
iframe {
    border: none; 
}
/*レスポンシブ*/
@media screen and (max-width: 768px) {
    p {
        font-size: 1rem;
    }
    .header_ul {
        left: 0px;
    }
    .header_ul li a {
        font-size: 1.2rem;
    }
    .gotop {
        width: 100px;
        height: 100px;
        left: 90vw;
    }
    .gotop p {
        font-size: 1.2rem;
        -webkit-text-stroke: 0px;
    }
    #footer-left {
        width: 80vw;
    }
    .menu_li {
        border-bottom: 1px solid #000;
    }
    img {
        width: 70vw;
    }
}
