#youtube_btn {
    position: relative;
    width: 15vw;
    height: 10vw;
    border: 2px solid #000;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    transition: .3s;
}
#youtube_btn p {
    position: absolute;
    color: red;
    left: 25%;
    transition: .3s;
    -webkit-text-stroke: 2px #000;
}
#youtube_btn:hover p {
    color: rgb(57, 86, 252);
}
#youtube_btn:hover {
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.35);
}
@media screen and (min-width: 768px) {
    #youtube_btn p {
        top: 10%;
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 768px) {
    #youtube_btn {
        width: 60vw;
        height: 25vw;
    }
    #youtube_btn p {
        left: 25%;
        top: -9%;
        font-size: 3rem;

    }
}